
h1, h2, h3, p {
    color: #435334;
}
body {
    background-color: #FAF1E4;
}
.navigation-css {
    background-color: #9EB384;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3rem;
    
}
.button-css {
    background-color:  #CEDEBD;
    border-radius: 3rem; 
    border: none;
    color: #435334;
    font-weight: 600;
    
}
.button-css:hover {
    background-color: #CEDEBD;
    color: #435334;
    border: 5px solid #435334;
}

.icon {
    height: 30px; 
    width: 30px;

}
.noHover{
    pointer-events: none;
}
.professional-pic, .proj-pic {
    border-radius: 3rem;
    border: 10px solid #CEDEBD;
}
.home-text, .skills , .education, .professional-pic, .projects-page {
    animation: fadeIn 2s; 
    
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



@media only screen and (max-width: 1000px) {
    
    .button-css{
        text-indent: -9999px;                 /* sends the text off-screen */
          /* shows image */
        background-size: 35px;
        height: 60px; 
        width: 60px;                       /* be sure to set height & width */
        white-space: nowrap; 
        background-color: #CEDEBD;
        border: none;
    }
    .icon {
        height: 40px; 
        width: 40px;
        padding-left: 20%;
    }
}